{% extends 'base.html.twig' %}

{% block title %}Catalogue{% endblock %}

{% block body %}
<section class="container mt-4">
    <div class="row">
        <header>
            <h1>Catalogue</h1>
        </header>
        {% for product in products %}
        <article class="col-sm-4">
            <section class="card mt-4">
                <img src="{{ (product.image) ? "./uploads/" ~ product.image : "https://picsum.photos/200?random=" ~ random(1000) }}" class="card-img-top" alt="{{ product.name }}">
                <article class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <div class="price">
                        {% set price = product.price %}
                        {% set euros = price|slice(0, -2) %}
                        {% set cents = price|slice(-2) %}
                        <p class="card-text"><strong>Prix: </strong>{{ euros ~ ',' ~ cents }} €</p>
                    </div>
                    <footer class="product-footer">
                        <a href="{{ path('product_show', {'id': product.id}) }}" class="btn btn-primary">Voir le produit</a>
                    </footer>
                </article>
            </section>
        </article>
        {% else %}
        <article class="col-sm-12">
            <p>Aucun produit trouvé.</p>
        </article>
        {% endfor %}
    </div>
    {{ knp_pagination_render(products) }}
</section>
{% endblock %}
