{% extends 'base.html.twig' %}

{% block title %}Résultats de recherche pour "{{ search }}"{% endblock %}

{% block body %}
<section class="container mt-3">
    <header>
        <h1>Résultats de "{{ search }}"</h1>
    </header>
    <section class="row">
        {% for product in products %}
        <article class="col-sm-4">
            <section class="card mt-4">
                <img src="{{ (product.image) ? "./uploads/" ~ product.image : "https://picsum.photos/200?random=" ~ random(1000) }}" class="card-img-top" alt="{{ product.name }}">
                <section class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <section class="price">
                        {% set price = product.price %}
                        {% set euros = price|slice(0, -2) %}
                        {% set cents = price|slice(-2) %}
                        <p class="card-text"><strong>Prix: </strong>{{ euros ~ ',' ~ cents }} €</p>
                    </section>
                    <footer class="product-footer">
                        <a href="{{ path('product_show', {'id': product.id}) }}" class="btn btn-primary">Voir le produit</a>
                    </footer>
                </section>
            </section>
        </article>
        {% else %}
        <article class="col-sm-12">
            <p>Aucun produit trouvé pour votre recherche.</p>
        </article>
        {% endfor %}
    </section>
</section>
{% endblock %}
