<header class="navbar-container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <section class="container">
            <a class="navbar-brand" href="{{ path('app_home') }}">Ecoco</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <section class="collapse navbar-collapse" id="navbarNav">
                <form class="d-flex" action="{{ path('product_search') }}" method="get">
                    <input class="form-control mr-2" type="search" placeholder="Chercher un produit" name="q" aria-label="Search">
                </form>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('product_list') }}">Catalogue</a>
                    </li>
                    {% if app.user %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_profil') }}">Profil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('cart')}}">Panier</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin') }}">Admin</a>
                        </li>
                    {% endif %}
                </ul>
            </section>
        </section>
    </nav>
</header>